.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-self: center;
  background-color: black;
  border: 2px solid blue;
  padding: 5px;
  border-radius: 1rem;
  width: 200px;

}
.nomeVariavel{
  color: blue;
  font-family: arial;
  font-size: 40px;
  text-shadow: 1px 1px 2px #C0C0C0, 0 0 1em blue, 0 0 0.2em blue;
}

.bt-click, .bt-reset {
  border-radius: 1rem;
  width: 80px;
  background-color: #C0C0C0;
}

.bt-click{
  margin: 2px 0 5px 0;
}
